@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon-webfont.eot');
    src: url('../fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon-webfont.woff') format('woff'),
         url('../fonts/socicon-webfont.woff2') format('woff2'),
         url('../fonts/socicon-webfont.ttf') format('truetype'),
         url('../fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}
a{
	color:#fff;
}
.top-info {
  display: block;
  overflow: hidden;
  color: #fff;
  padding: 25px 0;
  font-size: 13px;
}
.top-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-info li {
  float: left;
  margin-left: 10px;
  font-weight: 600;
}
.navbar-header{
	position: relative;
	z-index: 9999;
}

a.navbar-brand{
	background: #eb2c33;
	padding: 4px 10px;
}

.navbar{
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}


.navbar-nav>li>a{
	padding: 21px 30px;
	font-weight: 600;
}

.navbar-toggle{
	background: #eb2c33;
	border-radius: 0;
	margin-right: 5px;
}

.navbar-toggle .icon-bar{
	background: #fff;
}

ul.nav.navbar-nav li{
	background-color: rgba(0,0,0,.8);
}

ul.navbar-nav li a{
	color: #fff;
}

ul.navbar-nav li a:hover, 
ul.navbar-nav li a:focus{
	background: #eb2c33;
	color: #fff;
}

ul.navbar-nav > li.active{
	background: none;
}

ul.navbar-nav li.active > a,
ul.navbar-nav > li.active.dropdown.open{
	background: rgba(255, 4, 4, 0.75);
}

ul.navbar-nav li.active > .dropdown-menu > li.active > a{
	color: #eb2c33;
}

ul.navbar-nav li.search{
	margin-left: 10px;
	background: #eb2c33;
}


.navbar-nav .dropdown-menu{
	left: 0;
	right: auto;
}

.dropdown-menu * {
	width: 100%;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.navbar-nav .dropdown-menu{
	background: none;
	border: 0;
	box-shadow: none;
	min-width: 240px;
	display: block;
	opacity: 0;
	z-index:1;
	visibility:hidden;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8);
	-webkit-transition: visibility 500ms, opacity 500ms, -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
	-moz-transition: visibility 500ms, opacity 500ms, -moz-transform 500ms cubic-bezier(.43, .26, .11, .99);
	-o-transition: visibility 500ms, opacity 500ms, -o-transform 500ms cubic-bezier(.43, .26, .11, .99);
	-ms-transition: visibility 500ms, opacity 500ms, -ms-transform 500ms cubic-bezier(.43, .26, .11, .99);
	transition: visibility 500ms, opacity 500ms, transform 500ms cubic-bezier(.43, .26, .11, .99);
}

.navbar-nav .dropdown:hover .dropdown-menu {
	opacity: 1;
	visibility:visible;
	color: #777;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
 }

 .navbar-nav .dropdown-backdrop {
	visibility: hidden;
}

.navbar-nav .dropdown-menu li{
	padding: 10px 20px 0;
}

.navbar-nav .dropdown-menu li:first-child{
	border-radius: 2px 2px 0 0;
}

.dropdown-menu li:last-child{
	border-radius: 0 0 2px 2px;
}

.dropdown-menu>li>a{
	font-size: 14px;
	padding: 10px 0;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, 
.dropdown-menu>li.active>a{
	background: none !important;
	color: #eb2c33 !important;
}

.nav .open>a, .nav .open>a:hover, 
.nav .open>a:focus{
	background: transparent;
	border:0;
}
.main-nav {
  width: auto;
}
.navbar-fixed-top {
  top: 0;
  z-index: 1030;
}
.navbar-collapse.in{
	  overflow-y: initial;
}
/*fin nav*/
.menu-footer{
	list-style: none;
	padding: 0px;
	margin:50px 9.2113%;
}
.primaryForeColor{
	color:white;
}
.shadow {
   position: absolute;
   width: 100%;
  height: 75px;
  bottom: 0%;
	z-index: 1;
  left: 0;
  margin-bottom: -1px;
  background: url('../img/shadow.png') repeat-x; 
}
.footer{
	  background-color: #000;
  box-shadow: 1px -1px 32px #888888;  
  background: url("../img/images13.jpg");

}
.footer a{
	color:#fff;
	
}
.card-text{
	color:#fff;
}
/*Parallax*/
[class*="bg__"] {
  height: 60vh;

  /*text-indent: -9999px;*/

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}
[class*="bg__"] h3{
	font-size: 4.5em;
	color:white;
	text-shadow: 4px 1px 5px rgba(15, 15, 15, 0.49);
	padding-top: 20%;
}
.parallax .capture {  
    width: 100%;
    padding: 1em;    
    text-indent: 0;
    background: rgba(243, 243, 243, 0.75);
    box-shadow: 0 1px 0.125em #333;
    font-size: 20px;
}
.parallax .header {
  position: relative;
  margin: -5em 0 0 0;
  padding: 1em;
  text-align: left;
    font-size: 1.1em;
  color: #333;
  background-color: rgba(255, 255, 255, 0.75);
  text-shadow: 2px 4px 6px rgba(15, 15, 15, 0.49)
}
.bg__foo {
  background-image: url(../img/p1.jpg);
}

.bg__bar {
 background-image: url(../img/p2.jpg);
}

.bg__baz {
  background-image: url(../img/p3.jpg);
}

.bg__bazz {
  height: 100vh;
 background-image: url(../img/p4.jpg);
}
/*Parallax*/
.btn-opacity {
	    position: relative;
  background-color: #286090;
  opacity: 0.5;
  margin-top: 40%;
  border: 1px #fff solid;
  font-weight: bold;
}
.btn-opacity:hover{	
	background-color:#286090;
	opacity: 1;
	border: 1px #fff solid;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.service-content i {
  display: inline-block;
  overflow: hidden;
  color: #fff;
  font-size: 48px;
  background: #eb2c33;
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: 30px 0 0;
  -webkit-box-shadow: 0 0 0 12px #f0f0f0;
  -moz-box-shadow: 0 0 0 12px #f0f0f0;
  box-shadow: 0 0 0 12px #f0f0f0;
}
.carousel-caption{
	bottom: 11%;
	text-shadow: 4px 1px 5px rgba(15, 15, 15, 0.49);
}
.social-content i{
  display: inline-block;	
  overflow: hidden;
  color: #000;
  font-size: 41px;
  height: auto;
  background: #fff;
  margin: 30px 0 0;
  padding: 6px;
  width: 58px!important;
}
.social-content i:hover{
  background:#eb2c33;
  color:#fff;
}
.contact{	
  	margin-top: 21%;
  	margin: 7%;
}
.contact-title{
	font-size: 30px;
	color:#fff;
}
.contact-content p{
	font-size: 20px;
	color: #fff;
}
footer{
  background-color: transparent;
}
.shared{
	background-color: rgba(0,0,0,.8);	
}
.phrase{
	font-size: 0.998em;
}
.top-info {
	padding: 15px 0;
	color:#000;
	font-weight: bold;
}
.top-info a{
	color:#000;
}
.social-icon a{
	color:#000;
}
.top-info a:hover ,.social-icon a:hover{
	color:#eb2c33;
}
.languajes{
	color:#2b82ad; /*#3b5998;*/
}
 .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;         
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
    .google-maps iframe {
       
    }
    .fix-header{
    	 margin-top:16%;
    }
@media (min-width: 320px){	
}
@media (min-width: 321px) and (max-width: 359px){
	.phrase{
		font-size: 2.5em;
	}	
	[class*="bg__"] h3{
		font-size: 3.8em;
		color:white;
	}	
}
@media (min-width: 360px) and (max-width: 480px){
	.phrase{
		font-size: 1.2em;
	}		
}
@media (min-width: 481px) and (max-width: 767px){
	.phrase{
		font-size: 1.9em;
	}		
	[class*="bg__"] h3{
		font-size: 4.0em;
		color:white;		
	}	
	.parallax .header{
		  font-size: 1.5em;
	}	
}
@media (min-width: 768px) and (max-width: 1024px){
	.phrase{
		  font-size: 2.5em;
	}	
	.parallax .header{
		  font-size: 1.5em;
	}	

}
@media (min-width: 1025px) and (max-width: 1336px){
	.phrase{
		font-size: 3.5em;
	}		
	.parallax .header{
		  font-size: 1.5em;
	}

}
@media (min-width: 1336px) and (max-width: 2080px){
	.phrase{
		font-size: 3.5em;
	}		
	.carousel-caption{
		bottom: 25%;
	}
	.parallax .header{
		  font-size: 1.5em;
	}
	[class*="bg__"] h3{
		font-size: 4.0em;
		color:white;		
		padding-top: 10%;
	}
	 .fix-header{
	 	margin-top: 9%;
	 }
}

/*######## Smart Green ########*/
.wpcf7 {
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.wpcf7 h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #eb2c33;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
.wpcf7 h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.wpcf7 label {
    display: block;
    margin: 0px 0px 5px;
}
.wpcf7 label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea, .wpcf7 select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.wpcf7 textarea{
    height:100px;
    padding-top: 10px;
}
.wpcf7 select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
.wpcf7 .button {
    background-color: #eb2c33;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.wpcf7 .button:hover {
    background-color:rgba(255, 4, 4, 0.75);
}

.wpcf7-form .wpcf7-not-valid-tip {
    display:none;
}
.wpcf7 .screen-reader-response{
	display:none!important;
}
body input[type=text].wpcf7-not-valid, body input[type=email].wpcf7-not-valid, body input[type=tel].wpcf7-not-valid, body textarea.wpcf7-not-valid {
border: 1px solid #ec3c06;
}
body span.wpcf7-not-valid-tip {
display: block;
color: #ec3c06;
border: none;
position: relative;
top: auto;
left: auto;
padding: 0;
margin-top: 2px;
background: none;
font-size: 15px;
}

body div.wpcf7-validation-errors {
background: #ffe2e2;
border: 1px solid #ff8a8a;
color: #ec3c06;
}

body div.wpcf7-response-output {
margin: 10px 0;
padding: 20px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
border-radius: 5px;
}

body .wpcf7-mail-sent-ng {
background: #fff2e2;
border: 1px solid #ffbc8a;
color: #e17731;
}

body .wpcf7-mail-sent-ok {
background: #e8ffe2;
border: 1px solid #6fdf51;
color: #1ea524;
}

/*cardView*/
 .widget .panel, .widget.panel {
  overflow: hidden;
  height: 360px;
}

.text-white {
color: #fff;
text-shadow: 1px 1px 2px #333;
}

.widget {
  margin-bottom: 20px;
border-right:0;
border-left: 1px solid #ddd;
box-shadow: 2px 2px 2px #ccc;
}

.row-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
}

.row-table>[class*=col-] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}  

.thumb128 {
  width: 128px!important;
  height: 128px!important;
}

.list-group {
  line-height: 1.3;
}

/*Portafolio*/

#portfolio {
    margin: 3em 0;
}

#portfolio .row > div {
    padding: 0;
}

#portfolio a {
border: 0;
}

#portfolio img{
    border: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    margin:0px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* For Webkit browsers */
    filter: gray; /* For IE 6 - 9 */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

#portfolio img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);

    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
/*Animation Zoom Social*/

.animate {
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*=============== Home-team ===============*/

.home-doctors {
  text-align: center;
  padding: 70px 0 80px;
  background: #f0f5f6;
}

.home-doctors h2 {
    font-weight: normal;
}

.home-doctors .common-doctor {
  background-color: #fff;
}
.home-doctors .common-doctor figure {
  overflow: hidden;
  width: 100%;
  height: 196px;
}

.home-doctors img {
  width: 100%;
  height: auto;
  margin-top: 0em;
}

.home-doctors .common-doctor h5 {
  margin: 0 0 7px;
  font-size: 18px;
  font-weight: 700;
  color: #3a3c41;
}
.home-doctors .common-doctor .for-border {
  margin-bottom: 20px;
}
.home-doctors .common-doctor .text-content {
  padding: 19px 14px 13px;
}
.home-doctors.doctors-var-two {
  text-align: left;
  background-color: #fff;
}
.home-doctors.doctors-var-two .slogan-section {
  text-align: left;
}
.home-doctors.doctors-var-two .common-doctor {
  background-color: transparent;
}
.home-doctors.doctors-var-two .common-doctor .for-border {
  display: none;
}
.home-doctors.doctors-var-two .common-doctor .text-content {
  padding: 20px 0 20px;
}
.home-doctors.doctors-var-two .text-center {
  text-align: left;
}

.slogan-section {
  margin-bottom: 50px;
  text-align: center;
}

.home-doctors .common-doctor .for-border {
  margin-bottom: 20px;
}

.for-border {
  height: 11px;
  width: 100%;
  background: transparent url(http://omarhabash.com/nova/wp-content/uploads/2014/08/feature-border.png) center center no-repeat;
  border: none;
}

.home-doctors .common-doctor h5 small {
  color: #008fd5;
  font-weight: bold;
  font-size: 0.8em;
  font-style: italic;
}

.home-doctors .common-doctor ul{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -28px;
  text-align: center;
  margin-top: 10em;
  opacity: 0;
  z-index: 1;
}

.home-doctors .common-doctor li a {
  background: #008fd5;
  color: white;
  padding: 0.75em;
  border: 5px solid rgba(255, 255, 255, 0.33);
}


.doc-img{
   /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

.doc-item:hover .doc-img{
   /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;

  opacity: 0.7;
}

.doc-item:hover .social-lists{
  margin-top: -2em;
  opacity: 1;
}
/*triagle*/
.container-triangle {
  margin: 140px auto 0;
  font-size: 0;
  max-width: 560px;
}
.wrap {
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  display: inline-block;
  -webkit-transition: -webkit-transform 300ms ease-out;
  -moz-transition: -moz-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  width: 100px;
}
.wrap:hover {
  -webkit-transition: -webkit-transform 700ms ease-out;
  -moz-transition: -moz-transform 700ms ease-out;
  transition: transform 700ms ease-out;
  -webkit-transform: rotate(45deg) translate3d(10px, 10px, 0);
  -moz-transform: rotate(45deg) translate3d(10px, 10px, 0);
  -ms-transform: rotate(45deg) translate3d(10px, 10px, 0);
  -o-transform: rotate(45deg) translate3d(10px, 10px, 0);
  transform: rotate(45deg) translate3d(10px, 10px, 0);
}
.wrap:nth-child(even) {
  width: 40px;
  -webkit-transform: rotate(225deg) translate3d(30px, 120px, 0);
  -moz-transform: rotate(225deg) translate3d(30px, 120px, 0);
  -ms-transform: rotate(225deg) translate3d(30px, 120px, 0);
  -o-transform: rotate(225deg) translate3d(30px, 120px, 0);
  transform: rotate(225deg) translate3d(30px, 120px, 0);
}
.wrap:nth-child(even) .crop img {
  -webkit-transform: skew(-20deg, -20deg) rotate(-225deg);
  -moz-transform: skew(-20deg, -20deg) rotate(-225deg);
  -ms-transform: skew(-20deg, -20deg) rotate(-225deg);
  -o-transform: skew(-20deg, -20deg) rotate(-225deg);
  transform: skew(-20deg, -20deg) rotate(-225deg);
}
.wrap:nth-child(even):hover {
  -webkit-transform: rotate(225deg) translate3d(40px, 130px, 0);
  -moz-transform: rotate(225deg) translate3d(40px, 130px, 0);
  -ms-transform: rotate(225deg) translate3d(40px, 130px, 0);
  -o-transform: rotate(225deg) translate3d(40px, 130px, 0);
  transform: rotate(225deg) translate3d(40px, 130px, 0);
}

.crop {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0;
  display: block;
  overflow: hidden;
  -webkit-transform: skew(20deg, 20deg) translate3d(0, 0, 0);
  -moz-transform: skew(20deg, 20deg) translate3d(0, 0, 0);
  -ms-transform: skew(20deg, 20deg) translate3d(0, 0, 0);
  -o-transform: skew(20deg, 20deg) translate3d(0, 0, 0);
  transform: skew(20deg, 20deg) translate3d(0, 0, 0);
}
.crop img {
  width: 160px;
  height: 160px;
  position: absolute;
  left: -50%;
  margin-top: 36px;
  margin-left: 36px;
  top: -50%;
  -webkit-transform: skew(-20deg, -20deg) rotate(-45deg);
  -moz-transform: skew(-20deg, -20deg) rotate(-45deg);
  -ms-transform: skew(-20deg, -20deg) rotate(-45deg);
  -o-transform: skew(-20deg, -20deg) rotate(-45deg);
  transform: skew(-20deg, -20deg) rotate(-45deg);
  opacity: 0.7;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.crop img:hover {
  opacity: 1;
}
/*Team*/
.our-team{
    text-align: center;
}
.our-team .pic{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.our-team .pic:before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 0 #61b6ac inset;
    opacity: 0.5;
    transition: all 1s ease-in-out 0s;
}
.our-team:hover .pic:before {
    box-shadow: 0 0 0 400px #61b6ac inset;
}
.pic img{
    width: 100%;
    height: auto;
}
.our-team .social-links{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0;
}
.our-team .social-links li{
    display: inline-block;
    margin-right: 10px;
    transform: scale(0,0);
    transition: all 0.7s ease-in-out 0s;
}
.our-team:hover .social-links li:nth-child(1){
    transition-delay: 0.1s;
    transform: scale(1,1);
}
.our-team:hover .social-links li:nth-child(2){
    transition-delay: 0.2s;
    transform: scale(1,1);
}
.our-team:hover .social-links li:nth-child(3){
    transform: scale(1,1);
    transition-delay: 0.3s;
}
.our-team:hover .social-links li:nth-child(4){
    transition-delay: 0.4s;
    transform: scale(1,1);
}
.our-team:hover .social-links li:nth-child(5){
    transition-delay: 0.5s;
    transform: scale(1,1);
}
.our-team .social-links li a{
    font-size: 30px;
    color: #283a44;
}
.our-team .social-links li a:hover{
    text-decoration: none;
}
.our-team .team-title{
    font-size: 22px;
    font-weight: bold;
    color: #283a44;
    text-transform: capitalize;
    margin-top: 10px;
}
.our-team .post{
    display: block;
    font-size: 14px;
    color: #687177;
    text-transform: capitalize;
}
@media screen and (max-width: 990px){
    .our-team{ margin-bottom: 20px; }
}